<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="login" class="form-card1 mt-5" >
        <div class="form-card2">
            <form action="/login" method="POST" class="form">
                <p class="form-heading">Login</p>
                <img src="images/nacw.png" alt="logo" class="form-logo">
                <div class="form-field">
                    <input
                        required
                        placeholder="Username"
                        id="username"
                        name="username"
                        type="text"
                        class="input-field"
                    />
                </div>
                <div class="form-field">
                    <input
                        required
                        placeholder="Password"
                        id="password"
                        name="password"
                        type="password"
                        class="input-field"
                    />
                </div>
                <button type="submit" class="sendMessage-btn">Login</button>
                <p class="form-footer">Belum punya akun? <a href="/signup" style="color: #22fa06;">Daftar di sini</a>.</p>
            </form>
        </div>
    </div>
    
</body>
</html>

