<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="signup" class="form-card1 mt-5">
        <div class="form-card2">
            <form action="/signup" method="POST" class="form">
                <p class="form-heading">Signup</p>
                <img src="images/umyy.png" alt="logo" class="form-logo">
                <div class="form-field">
                    <input
                        required
                        placeholder="Username"
                        id="username"
                        name="username"
                        type="text"
                        class="input-field"
                    />
                </div>
                <div class="form-field">
                    <input
                        required
                        placeholder="Password"
                        id="password"
                        name="password"
                        type="password"
                        class="input-field"
                    />
                </div>
                <button type="submit" class="sendMessage-btn">Signup</button>
                <p class="form-footer">Sudah punya akun? <a href="/login" style="color: #22fa06;">Login di sini</a>.</p>
            </form>
        </div>
    </div>
</body>
</html>








